.filters-form {
    .filters-form__min-max-temperature {
        label {
            @include respond(768px) {
                @include sr-only;
            }
        }
    }

    .filters-form__icons-list {
        padding-left: 0;
        & > li {
            display: inline-block;
        }
        .filters-form__icons-list__icon {
            label .icon {
                opacity: .25;
            }

            input:focus + label {
                outline: none;
                .icon-wrapper {
                    outline: 5px auto -webkit-focus-ring-color;
                }
            }

            input:checked + label {
                .icon {
                    opacity: 1;
                }
            }
        }
    }
}


.favorite {
    .modal-body {
        padding-top: .5em;
        padding-bottom: .5em;
        .chevron {
            margin-left: 1em;
            border-radius: 50%;
        }
    }
}

.drop-container {
    position: relative;
    .dropzone {
        position: absolute;
        width: 1em;
        height: 100%;
        top: 0;

        &.over {
            background: black;
        }
        &.right {
            right: 0;
        }
        &.left {
            left: 0;
        }
    }
}
