.filters-form {
    .filters-form__min-max {
        label {
            @include respond(768px) {
                @include sr-only;
            }
        }
    }

    .filters-form__icons-list {
        padding-left: 0;
        & > li {
            display: inline-block;
        }
        .filters-form__icons-list__icon {
            label .icon {
                opacity: .25;
            }

            input:focus + label {
                outline: none;
                .icon-wrapper {
                    outline: 5px auto -webkit-focus-ring-color;
                }
            }

            input:checked + label {
                .icon {
                    opacity: 1;
                }
            }
        }
    }

    @include respond(768px) {
        .form-control {
            max-width: 20em;
        }
    }
}


.favorite {
    .modal-body {
        padding-top: .5em;
        padding-bottom: .5em;
        .chevron {
            margin-left: 1em;
            border-radius: 50%;
        }
    }
    .favorite__forecast {
        margin-top: .5em;
        margin-bottom: .5em;
        max-height: 20em;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: .25em;
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--color-light-gray);
        }
        .data-block {
            max-width: 20em;
        }
        .forecast-single:not(:last-child) {
            border-bottom: 1px solid var(--color-light-gray);
            margin-bottom: .5em;
            padding-bottom: .5em;
        }
    }
}

.drop-container {
    position: relative;
    .dropzone {
        position: absolute;
        width: 100%;
        height: 1em;
        left: 0;
        &.right {
            top: 100%;
        }
        &.left {
            bottom: 100%;
        }
        &.over {
            background: black;
        }
        @include respond(768px) {
            width: 1em;
            height: 100%;

            &.right {
                top: 0;
                left: auto;
                right: 0;
            }
            &.left {
                top: 0;
                left: 0;
            }

        }

    }
}
