html {
    min-height: 100%;
    position: relative;
}

.app-wrapper {
    box-sizing: border-box;
    padding-bottom: 5em;
    .footer {
        @include stretch-width();
        position: absolute;
        bottom: 0;
        height: 5em;
        background-color: var(--color-dark-gray);
        border: .5em solid var(--color-light-gray);
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        border-bottom: 0;
    }

}

.btn-group > .form-group {
    float: left;
    .form-control:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .form-control:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.main {
    padding-top: 1em;
    padding-bottom: 1em;
}

.btn > a {
    color: inherit;
    text-decoration: none;
}
