:root {
    //put global css variables here
    --color-dark-red: rgb(185, 0 , 0);
    --color-dark-green: rgb(0, 185, 0);
    --color-dark-blue: rgb(0, 0, 185);
    --color-bright-blue: rgb(125, 125, 255);
    --color-dark-gray: rgb(25, 25, 95);
    --color-light-gray: rgb(215, 215, 215);
    --color-dark-gray-semitransparent: rgba(25, 25, 25, .75);
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);

    --metric-color: rgb(180, 0, 0);
}

.tooltip-container {
    position: relative;
    .tooltip.left {
        @include center(false, true);
        right: 100%;
    }
    .tooltip.top {
        @include center(true, false);
        bottom: calc(100% - 1em);
    }
    .tooltip.right {
        @include center(false, true);
        left: 100%;
    }
    .tooltip.bottom {
        @include center(true, false);
        top: calc(100% - 1em);
    }
}

html {
    min-height: 100%;
    position: relative;
}

.pseudo-paragraph:not(:last-child) {
    margin-bottom: 1em;
}

.app-wrapper {
    box-sizing: border-box;
    padding-bottom: 5em;
    .footer {
        @include stretch-width();
        position: absolute;
        bottom: 0;
        height: 5em;
        background-color: var(--color-dark-gray);
        border: .5em solid var(--color-light-gray);
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        border-bottom: 0;
    }

}

.btn-group > .form-group {
    float: left;
    &:not(:first-child) .form-control {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    &:not(:last-child) .form-control {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.main {
    padding-top: 1em;
    padding-bottom: 1em;
    @include respond(0, 720px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.btn > a {
    color: inherit;
    text-decoration: none;
}


.ball-animate-loading {
    @include animate-loading(8, 16em, 'ball', 0s, 3s);
}

.calendar-wrapper {
    width: 4.5em;
    @include respond(0, 500px) {
        width: 3em;
    }
    .calendar {
        text-align: center;
        background: #f9f9f9;
        border-radius: .125em;
        overflow: hidden;
        box-shadow: 0 0 3px var(--color-black);
        .calendar__month, .calendar__day {
            margin-bottom: 0;
        }
        .calendar__month {
            padding: .25em;
            color: var(--color-white);
            font-size: 1.25em;
            background-color: var(--color-dark-red);

            @include respond(0,500px) {
                font-size: 1em;
            }
        }
        .calendar__day {
            font-size: 3em;
            @include respond(0,500px) {
                font-size: 1em;
            }
        }
    }
    .calendar__time {
        width: 3.5em;
        margin-left: auto;
        margin-right: auto;
        margin-top: .25em;
        .calendar__time__separator, .calendar__time__clock {
            float: left;
            text-align: center;
        }

        .calendar__time__clock {
            border: 1px solid var(--color-dark-gray);
            background-color: var(--color-white);
            width: 1.5em;
        }

        .calendar__time__separator{
            width: .5em;
            &:after {
                content: ':';
            }
        }
    }
}
