@mixin invisible() {
    visibility: hidden;
}

@mixin hidden() {
    display: none;
}

@mixin no-list-padding() {
    padding-left: 0;
}

@mixin relative() {
    position: relative;
}

@mixin center($left, $top) {
    $top-translate: 0;
    $left-translate: 0;
    position: absolute;
    @if ($left) {
        left: 50%;
        $left-translate: 50%;
    }
    @if ($top) {
        top: 50%;
        $top-translate: 50%;
    }
    transform: translate(-$left-translate, -$top-translate);
}

@mixin stretch-width() {
    display: block;
    width: 100%;
}

@mixin respond($min, $max) {
    @if ($min and $max) {
        @media (max-width: $max) and (min-width: $min) {
            @content;
        }
    } @elseif ($min == 0 and $max) {
        @media (max-width: $max) {
            @content;
        }
    } @elseif ($max == 0 and $min) {
        @media (min-width: $min) {
            @content;
        }
    } @else {
        @warn "No arguments passed to respond";
    }
}
