.summary {
    .main-temperature, .weather-text {
        font-size: 2em;
        margin-bottom: 0;
    }
    .temperature-range {
        font-size: 1.25em;
        @include respond(0, 500px) {
            font-size: 1em;
        }
    }
    .main-temperature, .temperature-range, .weather-text {
        white-space: nowrap;
        text-align: center;
    }
    .temperature-percent:before {
        content: '%';
        color: var(--metric-color)
    }
    .temperature-metric, .temperature-pressure {
        &:not(.K):before {
            content: "\00b0";
        }
        color: var(--metric-color)
    }
    .km-h {
        &:before {
            content: ' km/h';
        }
        color: var(--metric-color);
    }

    .weather-pictures, .weather-desc {
        text-align: center;
    }

    .weather-desc-text {
        font-size: 1.5em;
        @include respond(0, 500px) {
            font-size: 1em;
        }
    }

    .weather-pictures {
        img {
            height: 8em;
            margin: auto;
        }

        .temperature-icon {
            height: 4em;
        }


        @include respond(0, 500px) {
            img {
                height: 5em;
            }
        }
    }
}
