.summary {
    .main-temperature, .weather-text {
        font-size: 4em;
        margin-bottom: 0;
    }
    .temperature-range {
        font-size: 1.5em;
    }
    .main-temperature, .temperature-range, .weather-text {
        white-space: nowrap;
        text-align: center;
    }
    .temperature-percent:before {
        content: '%';
        color: var(--metric-color)
    }
    .temperature-metric, .temperature-pressure {
        &:before {
            content: "\00b0";
        }
        color: var(--metric-color)
    }
    .km-h {
        &:before {
            content: ' km/h';
        }
        color: var(--metric-color);
    }

    .weather-pictures {
        text-align: center;
        width: 10em;
        img {
            height: 8em;
        }
    }
}
